@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: white; */
  font-family: "Poppins", sans-serif;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: white;
}

.container {
  margin: auto;
  max-width: 1366px;
  background-color: white;
  padding: 0 100px;
}

nav {
  transition: 2s;
  background-color: transparent;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.menu .uil {
  display: none;
}
.main-nav {
  margin: auto;
  /* background-color: aqua; */
  height: 64px;
  display: flex;
  align-items: center;
  max-width: 1366px;
  padding: 20px 30px;
}

nav > div {
  /* border: 1px solid black; */
}

nav .logo {
  flex: 1.5;
  font-size: 25px;
  transition: 0.25s;
}

nav .logo:hover {
  font-weight: bold;
  color: #ff3c00;
}
nav .logo p {
  transition: 0.25s;
}
nav .logo p:hover {
  font-size: 30px;
}

nav .menu {
  /* background-color: blueviolet; */
  flex: 2;
  font-size: 17px;
}

nav .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: 2s;
}

.menu a {
  color: black;
  transition: 0.25s;
}
.menu a:hover {
  color: #3f4546;
  font-weight: bold;
}

.sec {
  height: 100vh;
  /* background-color: burlywood; */
  /* border: 1px solid white; */
  padding: 10px;
  transition: 2s;
}

/* DROPDOWN */
.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 17px;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  padding: 20px 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(211, 211, 211);
  color: #ff3c00;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------SECTION 1-------------------- */
.section-1 {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  position: relative;
  transition: 2s;
}

.arrow-down {
  position: absolute;
  color: #ff3c00;
  font-weight: bold;
  font-size: 40px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: arrowAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.arrow-down1 {
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow-down2 {
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow-down3 {
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

.section-1 > div {
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  /* align-items: center; */
  transition: 2s;
}

.section-1 .profile-txt {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: relative;
  transition: 2s;
}

.profile-txt .prof-name {
  font-size: 45px;
  line-height: 70px;
  font-weight: bold;
  color: #2f4858;
  transition: 2s;
}

.prof-name .span-name {
  font-weight: 900;
  font-size: 70px;
  color: #ff3c00;
  text-shadow: -3px -3px 0 #2f4858, 1px -1px 0 transparent,
    -1px 1px 0 transparent, 1px 1px 0 #2f4858;
}

.excla-span {
  font-size: 70px;
  font-weight: bold;
  color: #2f4858;
  transition: 0.25s;
}

.excla-span:hover {
  color: #ff3c00;
}

.typewrite {
  font-size: 22px;
  transition: 2s;
}

.sub {
  margin-bottom: 20px;
}
.sub a {
  color: black;
}

.about-shortcut {
  width: 235px;
  padding: 15px 20px;
  font-size: 20px;
  animation-name: aboutBtnAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 5px;
  border: none;
  background-color: #2f4858;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.about-shortcut:hover {
  background-color: #ff3c00;
  border: 1px solid #cad2db;
  color: white;
}

@keyframes aboutBtnAnimation {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.section-1 .profile-img {
  flex: 1.5;
}

/* profile-blob */

.profile-img {
  /* background-color: saddlebrown; */
  padding: 10px;
}

.profile-mini-con {
  /* background-color: gray; */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-mini-con img {
  width: 400px;
  margin-top: -90px;
  margin-left: -50px;
  transition: 2s;
}

.flip-card-prof {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner-prof {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-prof:hover .flip-card-inner-prof {
  transform: rotateY(180deg);
}

.flip-card-front-prof,
.flip-card-back-prof {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-prof {
  background-color: transparent;
  color: black;
}

.flip-card-back-prof {
  color: white;
  transform: rotateY(180deg);
  background-color: transparent;
}

.sec1-icon ul {
  list-style-type: none;
  display: flex;
  margin: 20px 0 20px -10px;
}

.sec1-icon ul li {
  margin: 0 10px;
}

.sec1-icon ul li a {
  text-decoration: none;
  color: #ff3c00;
  font-size: 25px;
  transition: 1s;
}

.sec1-icon ul li a i:hover {
  font-size: 30px;
}

/* --------------------SECTION 2-------------------- */
.section-2 {
  /* background-color: rgb(156, 120, 114); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------CAROUSEL---------- */
.md_carousel {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 580px;
  font-family: sans-serif;
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0;
  margin: auto;

  border-radius: 5px;
}
.md_carousel img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.md_carouselViewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
}

.md_carouselSlide {
  position: relative;
  left: 0%;
  flex: 0 0 100%;
  /* background-color: #b4aaaa;
  background-color: rgba(180, 170, 170, 1); */
  background-color: transparent;
  padding: 10px;
  transition: left 4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.md_carouselSlide img {
  height: 85%;
  width: 90%;
}

.md_carouselNav {
  position: absolute;
  right: 0;
  bottom: 0.2rem;
  left: 0;
  text-align: center;
}
.md_carouselNav:first-child {
  display: inline-block;
}
.md_carouselNavButton {
  display: inline-block;
  margin: 0 0.15rem;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.5);
  background-clip: border-box;
  border: 0 solid transparent;
  outline: 0.2rem solid transparent;
  height: 8px;
  width: 50px;
  font-size: 0;
  transition: transform 0.1s, outline 0.3s, background 0.3s;
  cursor: pointer;
}
.md_carouselNavButton:hover,
.md_carouselNavButton:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: #f8bf3f;
  outline-color: #ff4708;
}

.md_carouselPrevious {
  left: 0;
}
.md_carouselNext {
  right: 0;
}
.md_carouselPrevious,
.md_carouselNext {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 100%;
  border: 0;
  content: "";
  z-index: 1;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  /* background-color: #333; */
  background-color: transparent;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.5s ease, border 0.5s ease;
}
.md_carouselPrevious:hover,
.md_carouselNext:hover,
.md_carouselPrevious:focus,
.md_carouselNext:focus {
  opacity: 1;

  /* background-color: #ff4708; */
}
.md_carouselPrevious {
  border-right: 0.2rem solid transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23FF4708' /%3E%3C/svg%3E");
}
.md_carouselNext {
  border-left: 0.2rem solid transparent;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23FF4708' /%3E%3C/svg%3E");
}
@media (prefers-reduced-motion: reduce) {
  .md_carouselSlide {
    transition: left 0s;
  }
}

.sec2-btn {
  position: relative;
  top: 40%;
  padding: 10px 20px;
  width: 250px;
}

.sec-btn {
  width: 235px;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #2f4858;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.sec-btn:hover {
  background-color: #ff3c00;
  border: 1px solid #cad2db;
  color: white;
  transform: scaleX(1.1);
}

/* --------------------SECTION 3-------------------- */
.section-3 {
  /* background-color: tan; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec3-first {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.sec3-first > div {
  margin: 0 15px 0 15px;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #2f4858;
  color: white;
  border-radius: 5px;
}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff3c00;
  color: white;
  transform: rotateY(180deg);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px #2f4858;
}

.card-title {
  margin-top: 30px;
}

/* --------------------SECTION 4-------------------- */
.section-4 {
  background-color: springgreen;
}

/* --------------------MOSA---------------------- */
@media only screen and (max-width: 1324px) {
  /* section -3 */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 380px;
    perspective: 1000px;
    cursor: pointer;
  }
  .flip-card-front img {
    height: 210px !important;
  }
}
@media only screen and (max-width: 1134px) {
  .section-1 {
    /* background-color: #2980b9; */
  }

  /* section -3 */
  .flip-card {
    width: 280px;
    height: 360px;
  }
  .flip-card-front img {
    height: 210px !important;
  }
  .card-title {
    font-size: 14px;
  }
  .flip-card-back h1 {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  /* section - 3 ends */

  .profile-mini-con img {
    width: 370px;
    margin-top: -90px;
    margin-left: -50px;
  }

  .flip-card-prof {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  /* section 4 */
  .md_carousel {
    width: 98%;
    height: 560px;
  }
}

@media only screen and (max-width: 1124px) {
  .section-1 {
    /* background-color: gray; */
    flex-direction: column;
  }
  .section-1 > div {
    /* border: 1px solid yellow; */
    flex: 1;
  }
  .profile-mini-con {
    height: auto;
  }
  .profile-txt {
    order: 2;
  }
  .profile-img {
    order: 1;
    /* background-color: #2980b9; */
    width: 100%;
  }
  .profile-mini-con img {
    width: 300px;
    margin-top: 50px;
    margin-left: 0px;
  }
  .flip-card-prof {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .arrow-down {
    display: none;
  }

  .profile-txt .prof-name {
    font-size: 45px;
    line-height: 70px;
  }

  .prof-name .span-name {
    font-weight: 900;
    font-size: 60px;
  }

  .excla-span {
    font-size: 50px;
  }

  .about-shortcut,
  .sec-btn {
    width: 200px;
    padding: 10px 15px;
    font-size: 15px;
  }

  .typewrite {
    font-size: 20px;
  }

  .sec1-icon ul li a {
    font-size: 20px;
  }

  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 560px;
  }
}

@media only screen and (max-width: 1004px) {
  .profile-mini-con img {
    margin-top: 10px;
  }
  .section-1 .profile-txt {
    margin-top: -40px;
  }
  .profile-txt .prof-name {
    line-height: 60px;
  }
  .sec1-icon ul {
    margin: 12px 0 20px -10px;
  }
  nav {
    bottom: 0;
    padding: 0;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .menu .uil {
    display: flex;
  }
  .main-nav {
    height: 50px;
    padding: 10px 20px;
  }
  .main-nav > div {
    flex: 1;
  }
  .logo {
    display: none;
  }
  nav .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 27px;
    align-items: center;
  }
  .dropdown-content {
    top: -190px;
    right: -10px;
  }
  .dropbtn {
    font-size: 27px;
  }
  .dropdown a {
    font-size: 14px;
  }
  .s-link {
    display: none;
  }

  /* section - 3 */
  .section-3 {
    height: auto !important;
  }
  .sec3-first {
    background-color: rebeccapurple;
    flex-direction: column;
  }
  .sec3-first > div {
    margin: 20px 0;
  }
  .sec3-second {
    margin-bottom: 100px;
  }
  .flip-card {
    width: 340px;
    height: 400px;
  }
  .flip-card-front img {
    height: 210px !important;
  }
  .card-title {
    font-size: 14px;
  }
  .flip-card-back h1 {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  /* section-3 ends */

  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 480px;
  }
}

@media only screen and (max-width: 900px) {
  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 450px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    padding: 0 10px;
  }
  /* section 2 */
  .md_carousel {
    width: 90%;
    height: 420px;
  }
}
@media only screen and (max-width: 750px) {
  /* section 2 */
  .md_carousel {
    width: 90%;
    height: 400px;
  }
}
@media only screen and (max-width: 700px) {
  /* section 2 */
  .md_carousel {
    width: 90%;
    height: 370px;
  }
  .section-2 {
    background-color: saddlebrown;
    height: 450px !important;
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 650px) {
  /* section 2 */
  .md_carousel {
    width: 90%;
    height: 340px;
  }
}
@media only screen and (max-width: 600px) {
  /* section 2 */
  .md_carousel {
    width: 90%;
    height: 310px;
  }
}
@media only screen and (max-width: 550px) {
  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 300px;
  }
  .md_carouselNavButton {
    height: 5px;
    width: 35px;
  }
}
@media only screen and (max-width: 490px) {
  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 280px;
  }
}

@media only screen and (max-width: 638px) {
  .profile-img {
    margin-left: 0;
  }
  .profile-img {
    order: 1;
    /* background-color: #2980b9; */
    width: 100%;
  }
  .profile-mini-con img {
    width: 280px;
    margin-top: 40px;
    margin-left: 0px;
  }
  .flip-card-prof {
    width: 280px;
    height: 280px;
  }

  .flip-card-prof {
    width: 280px;
    height: 280px;
  }
}

@media only screen and (max-width: 532px) {
  .container {
    padding: 0 10px;
  }
  .profile-mini-con img {
    margin-top: 10px;
  }
  .section-1 .profile-txt {
    margin-top: -70px;
  }

  .profile-txt .prof-name {
    font-size: 40px;
    line-height: 55px;
  }

  .prof-name .span-name {
    font-weight: 900;
    font-size: 55px;
  }

  .excla-span {
    font-size: 45px;
  }

  .about-shortcut,
  .sec-btn {
    font-size: 15px;
  }

  .typewrite {
    font-size: 20px;
  }

  .sec1-icon ul li a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 416px) {
  .profile-mini-con img {
    margin-top: 10px;
  }
  .section-1 .profile-txt {
    margin-top: -70px;
  }

  .profile-txt .prof-name {
    font-size: 35px;
    line-height: 55px;
  }

  .prof-name .span-name {
    font-weight: 900;
    font-size: 50px;
  }

  .excla-span {
    font-size: 40px;
  }

  .about-shortcut,
  .sec-btn {
    font-size: 14px;
  }

  .typewrite {
    font-size: 18px;
  }

  .sec1-icon ul li a {
    font-size: 17px;
  }
  /* section 2 */
  .md_carousel {
    width: 100%;
    height: 250px;
  }
}
